@font-face {
    font-family: 'Rosarivo';
    font-style: normal;
    src: url('../fonts/Rosarivo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rosarivo Italic';
    font-style: italic;
    src: url('../fonts/Rosarivo-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Garamond Italic';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}