.parallax-container {
    height: 200vh;
    /* Makes the container twice the viewport height */
    overflow-y: auto;
}

.background {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 200px;
    background-image: url('/cos/castle.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

/*  */