div.gitinfo {
    margin: 0 auto;
    font-size: x-small;
    color: gray;

    a {
        color: inherit;
    }
}

img.castle {
    position: fixed;
    bottom: -50px;
    right: 0px;
    width: 150px;
    z-index: 1;
    border: none;
    opacity: 0.9;

    animation: fade-in-out linear;
    animation-timeline: scroll(root block);
    animation-range: 0 100%;
}

@media screen and (max-width: 500px) {
    img.castle {
        display: none;
    }
}

@keyframes fade-in-out {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 0.9;
    }
}